fastapi
uvicorn[standard]
SQLAlchemy
pydantic-settings
databases[asyncpg]
psycopg2
python-dotenv
alembic
rich
asgi-correlation-id
python-json-logger
logtail-python
python-jose
passlib
bcrypt
python-multipart
aiofiles
b2sdk
sentry-sdk[fastapi]
httpx