fastapi
uvicorn[standard]
SQLAlchemy
databases[asyncpg]
python-dotenv
pydantic-settings
psycopg
rich
asgi-correlation-id
python-json-logger
logtail-python
python-jose
python-multipart
passlib[bycrypt]